
  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">RST ENERGY</span>
          </a>
          <div class="footer-contact pt-3">
            <p>11-A,
                Jalan Tengku Ampuan Zabedah, J 9/J Seksyen 9,</p>
            <p>40100, Shah Alam, Selangor, Malaysia</p>
            <p class="mt-3"><strong>Phone:</strong> <span>011-1192 2507</span></p>
            <p><strong>Email:</strong> <span>syazwan@rstenergy.com.my</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html#about">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="services.html">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html#contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">RST Energy.</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>