<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="row gy-4 justify-content-between">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="d-flex align-items-center">
          <img src="{{rootPath}}assets/images/logo.png" alt="" width="120px"/>
        </a>
        <div class="footer-contact pt-3">
          <p>
            <strong>RST ENERGY SDN BHD - 1583101-M </strong> <br />
            is a provider in Engineering & Maintenance Services For Oil & Gas,
            Energy, Maritime & General Industries
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 footer-links">
        <h1 class="fs-4 fw-bold">Health & Safety Policy</h1>

        <p class="mt-3">
          Our company's safety vision is to eliminate all occupational illnesses
          and injuries. We are dedicated to maintaining the highest standards of
          occupational health and safety. We have a zero-tolerance policy for
          negligance behaviors on safety regulations, practices, and procedures
          in our operations.
        </p>
        <p class="mt-2"><strong>RST Energy Sdn Bhd © 2024</strong></p>
      </div>
    </div>
  </div>
</footer>
