<div class="about">
    <div class="container">
        <h1 class="text-center mb-4">About Us</h1>
        <p class="about-desc text-justify">
            <strong>RST ENERGY SDN BHD</strong> is a Malaysia incorporated company providing engineering and maintenance services for oil and gas, energy and various general industries.
            <br>
            <br>
            We offers various capabilities assignment for engineering works such as blasting & painting works, fabrication works, mechanical work, Plant Maintenance & Turnaround, civil engineering and construction, building maintenance, maintenance servicing works besides supplying skilled and general manpower. Entrusted with the responsibility of giving our clients total satisfaction, we provide the comprehensive, professional management service with a wide range of benefits.
            <br>
            <br>
            Drawing on our extensive experience and comprehensive service capabilities, we deliver enhanced value propositions for both our existing and prospective clients.
        </p>
        <div class="vnm">
            <h2 class="vnm-heading">Vision</h2>
            <p class="vision mt-3">Leading Engineering Solution Powerhouse by <span class="green-text">2027</span>.</p>
        </div>
        <div class="vnm">
            <h2 class="vnm-heading">Mission</h2>
            <p class="mission mt-3">
                Deliver advanced technologies and innovative solutions that effectively address   customer needs.
                <br>
                <br>
                Enhance, expand, and add value to our services to drive continuous growth.
                <br>
                <br>
                Foster balanced business operations by integrating economic, health, safety, and environmental (HSE), and social considerations.
            </p>
        </div>
    </div>
</div>

<div id="sticky-bar" class="sticky-bar">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
      <h5 class="mb-0 text-white text-center text-md-start">LET'S WORK ON YOUR EXCITING NEW PROJECT TOGETHER!</h5>
      <a href="#" class="contact-us-btn mt-3 mt-lg-0">CONTACT US <i class="bi bi-chevron-right"></i></a>
    </div>
  </div>
</div>