<div class="page-title services-banner">
  <div class="container">
    <div class="banner-header">
      <h1>Our Services</h1>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="about-desc text-justify">
      <strong>RST ENERGY</strong> offers a comprehensive range of services which
      include project management; petroleum pipeline engineering, fabrication &
      installation; workscoping & workpack preparation; resource & procurement
      planning; project materials procurement; pressure vessels / storage tanks
      cleaning, maintenance & repair; manpower supply; steel structural
      fabrication and erection ; desludging; and waste / sludge collection &
      packaging ; civil engineering work. <br /><br />
      Our services play a crucial role in ensuring uninterrupted client
      production, safeguarding facilities against potential damage that could
      result in significant economic losses, and mitigating environmental
      pollution risks.
    </div>

    <div class="services-slide">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for service in services %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row align-items-center carousel-inner-item">
              <div class="col-md-7 order-2 order-lg-1">
                <div class="carousel-text">
                  <h2 class="service-items-heading">{{ service.title }}</h2>
                  <p class="text-justify d-none d-lg-block services-desc">{{ service.desc }}</p>
                  {%if service.industrial_cleaning_services %}
                  <div class="row">
                    {% for item in industrial_cleaning_services %}
                    <div class="col-lg-12 icon-box d-flex">
                      <i class="{{ item.icon }} flex-shrink-0"></i>
                      <div class="px-3">
                        <h4 class="services-desc">{{ item.title }}</h4>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-5 order-1 order-lg-2">
                <img
                  src="https://placehold.co/400x400"
                  class="d-block w-100"
                  alt="Image for {{ service.title }}"
                />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="carousel-controls text-center mt-3">
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
